@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  cursor: pointer;
}

[data-theme="light"] {
  --color-bg-primary: #FBFBFB;
  --color-bg-secondary: #C4D9FF;
  --color-bg-terciary:#8694af;

  --color-text-primary: #393E46;
  --color-text-secondary: #a28fff;

  --btn-edit-bg: #fbbf24;
  --btn-delete-bg: #ef4444;
  --btn-details-bg: #3b82f6;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

[data-theme="dark"] {
  --color-bg-primary: #222831;
  --color-bg-secondary: #948979;
  --color-bg-terciary: #424d5e;

  --color-text-primary: #E8F9FF;
  --color-text-secondary: #DFD0B8;

  --btn-edit-bg: #fcd34d;
  --btn-delete-bg: #ef4444;
  --btn-details-bg: #60a5fa;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

[data-theme="human"] {
  --color-bg-primary: #232438;
  --color-bg-secondary: #2E4240;
  --color-bg-terciary: #59807c;

  --color-text-primary: #E8F9FF;
  --color-text-secondary: #6c9994;

  --btn-edit-bg: #eab308;
  --btn-delete-bg: #dc2626;
  --btn-details-bg: #2563eb;


  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

[data-theme="elf"] {
  --color-bg-primary: #606f7e;
  --color-bg-secondary: #396346;
  --color-bg-terciary: rgb(118, 168, 163);

  --color-text-primary: #E8F9FF;
  --color-text-secondary: #223528;

  --btn-edit-bg: #d97706;
  --btn-delete-bg: #b91c1c;
  --btn-details-bg: #1e40af;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

[data-theme="dwarf"] {
  --color-bg-primary: #61372F;
  --color-bg-secondary: #924B03;
  --color-bg-terciary: #633100;

  --color-text-primary: #E8F9FF;
  --color-text-secondary: #2e1c09;

  --btn-edit-bg: #ca8a04;
  --btn-delete-bg: #991b1b;
  --btn-details-bg: #1e3a8a;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
